<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../elliptical-behaviors/observable-behavior.html">
<dom-module id="profile-template">
    <style>
        :host{
            display:block;
            width:400px;
            max-width:100%;
        }
        :host .flex-template{
            display:-webkit-flex;
            display:flex;
            -webkit-flex-direction:column;
            flex-direction:column;
        }
        :host .flex-template>*{
            margin:1em 0;
        }
        :host .flex-template>div>span{
            margin-right:.5em;
            min-width:75px;
            display:inline-block;
        }
        :host .flex-template>div>input{
            min-width:200px;

        }
    </style>
    <template>
        <div class="flex-template" template>
            <h3><span data-bind="text:name">{name}</span></h3>
            <div>
                <span>Name: </span>
                <input type="text" data-bind="value:name" value="{name}">
            </div>
            <div>
                <span>Street: </span>
                <input type="text" data-bind="value:street" value="{street}">
            </div>
            <div>
                <span>City: </span>
                <input type="text" data-bind="value:city" value="{city}">
            </div>
            <div>
                <span>State: </span>
                <input type="text" data-bind="value:state" value="{state}">
            </div>
            <div>
                <span>Zip: </span>
                <input type="text" data-bind="value:zip" value="{zip}">
            </div>
            <div>
                <span>Phone: </span>
                <input type="text" data-bind="value:phone" value="{phone}">
            </div>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'profile-template',
        behaviors: [
            Elliptical.ObservableBehavior
        ],

        _onScopeChange:function(result){
            console.log(result);
        }
    });
</script>